table {
  border: 1px solid #EFF1F3;
  background-color: #223843;
  
}
td {
  border: 2px solid #EFF1F3;
  padding: 10px;
  font-weight: bold;
  color: #EFF1F3;
  font-size: 20px;
}

body{
  background-color: #D77A61;
}

h1 {
  color: #EFF1F3;
  font-size: 40px;
  text-shadow: 2px 0 0 #223843, -2px 0 0 #223843, 0 2px 0 #223843, 0 -2px 0 #223843, 1px 1px #223843, -1px -1px 0 #223843, 1px -1px 0 #223843, -1px 1px 0 #223843;
}